[submodule "components/esp-idf-lib"]
	path = vendor/esp-idf-lib
	url = https://github.com/UncleRus/esp-idf-lib.git
[submodule "vendor/y2038"]
	path = vendor/y2038
	url = https://github.com/evalEmpire/y2038
